
body {
    margin: 0;
    background-color: grey;
    text-align: center;
}

#mainTitle {
    text-align: center;
    margin: 0;

}

#intHeadContainer {
    height: 56px;
    width: auto;
    background-color: darkslategrey;
    margin: 0;
    box-shadow: black;
}

#mainContainer{
    height: 450px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}
#leftSide {
    background-color: lightgray;
    height: inherit;
    width: 49.65%;
    float: left;
    box-shadow: black;



}

#rightSide {
    background-color: lightgray;
    height: inherit;
    width: 49.65%;
    float: right;
    box-shadow: black;


}

#secondContainer {
    height: 450px;
    width: auto;
    margin-right: 5px;
    margin-left: 5px;


}

#secondBox {
    background: lightgray;
    height: inherit;
    width: inherit;
    margin-right: 10px;
    margin-left: 10px;

}

h2{
    padding-top: 5px;
    text-decoration: underline overline solid grey;
}

