
body {
    margin: 0;
    background-color: blanchedalmond;
    text-align: center;
    font-family: Calibri, sans-serif;
}

#mainTitle {
    text-align: center;
    margin: 0;
    color: blanchedalmond;
}

#intHeadContainer {
    height: 65px;
    width: auto;
    background-color: #383e42;
    margin: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#mainContainer {
    height: 325px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

#leftSide {
    background-color: cornsilk;
    height: inherit;
    width: 49.65%;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#rightSide {
    background-color: cornsilk;
    height: inherit;
    width: 49.65%;
    float: right;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#secondContainer {
    height: auto;
    width: auto;
    margin-right: 5px;
    margin-left: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#secondBox {
    background: cornsilk;
    height: inherit;
    width: inherit;
    margin-right: 10px;
    margin-left: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h2 {
    padding-top: 5px;
    text-decoration: underline overline solid grey;
}

#livreImg {
    height: 200px;
    width: 200px;
    position: center;
    margin-top: 10px;
}

#github {
    text-decoration: none;
    color: blanchedalmond;
    font-size: large;
    outline: none;
    padding: 2px 2px 0;
}

th {
    background-color: cornsilk;
}

tr, td {
    border-bottom: 1px solid black;
}

table {
    border-collapse: separate;
    border-spacing: 50px 0;
    margin-left: auto;
    margin-right: auto;
}
